# Default to PK for hardhat/chainweb account 19
FAUCET_PRIVATE_KEY=0xad60b8572e3d37cf8305a164f035d90982e554b36eb0dc7ed54839a60107aa0a

# Chainweb chain 0
RPC_URL=https://evm-devnet.kadena.network/chainweb/0.0/evm-development/chain/0/evm/rpc

# Faucet smart contract address
FAUCET_CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3

# 24 hours in seconds
COOLDOWN_PERIOD=86400

# 20 whole tokens - will be parsed to 20 * 10^18 in deploy cript
NATIVE_TOKEN_AMOUNT=20
